@charset 'utf-8';
/* Name: Laurence Goh Ming Shen
Class : DIT/FT/1B/03
Admin num : 2220327 */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
